%h1
  Yong Joseph Bakos
  = link_to 'work', 'http://humanoriented.com', :title => 'Human-Oriented Systems'
  = link_to 'teach', 'http://www.smu.edu/Meadows/AreasOfStudy/CreativeComputation/Faculty/BakosYong', :title => 'Yong Bakos, Center of Creative Computation'
  = link_to 'research', 'https://www.smu.edu/Lyle/Departments/CSE', :title => 'Lyle School of Engineering, Computer Science'
  = link_to 'code', 'http://github.com/ybakos', :title => 'Yong Bakos on GitHub'
  = link_to 'play', 'music', :title => 'Musicianship'
